/* index.css */

.full-screen-carousel {
  position: relative;
  width: 100%;
  height: calc(
    100vh - 30px
  ); /* Ekran yüksekliğinden 100px çıkarılarak Carousel'ın yüksekliği belirleniyor */
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(
    100vh - 100px
  ); /* Ekran yüksekliğinden 100px çıkarılarak Carousel'ın yüksekliği belirleniyor */
}
