@font-face {
  font-family: "Rocher";
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

.nav {
  background-color: #bec2c4;
  color: white;
  padding: 0.7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  font-family: "rocher";
  font-size: large;
  font-palette: --Grays;
}
